:root {
  --mouse-x: 0;
  --mouse-y: 0;
  --primary-color: 50, 0, 0;
  --black: 0, 0, 0;
  --primary-color-contrast: 255, 255, 255;
  --primary-color-off: 34, 34, 34;
  --primary-color-off-contrast: 187, 187, 187;
  --primary-color-1: 17, 17, 17;
  --primary-color-2: 51, 51, 51;
  --primary-color-3: 255, 255, 255;
}

#club.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#club_svg{
  stroke: rgba(var(--primary-color-3));
  fill: rgba(var(--primary-color-3));
  padding: 5px;
}
body {
  /* background: transparent radial-gradient(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), rgba(var(--primary-color-1)), rgba(var(--primary-color-2))) no-repeat 0 0; */ /* Adjust the opacity as needed */
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

header {
  background-color: rgba(var(--primary-color));
  color: rgba(var(--primary-color-contrast));
  padding: 0;
  width:15%;
  transition: 0.5s;
}

header h1{
  text-align: center;
  padding: 20px;
}

header h3{
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  width: auto;
  background-image: url("images/background1.jpg");
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-color: rgba(var(--primary-color-1), 0.5);
}

#resumeAbout {
  width: 100%;
  background-image: url("images/background1.jpg");
  background-blend-mode: overlay;
  background-color: rgba(var(--primary-color-1), 0.5);
  background-attachment: fixed;
}

.pfp {
  width: 30%;
  height: auto;
  border-radius: 5%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}


#header {
  width: 100%;
}


header a{
  color: rgba(var(--primary-color-contrast));
  text-decoration: none;
  transition: 1s;
  width: 100%;
  padding: 20px 0px;
}

header a:hover{
  color: rgba(var(--primary-color));
  transition: 1s;
}

nav ul {
  list-style: none;
  align-items: center;
  padding: 0;
  transition: 1s;
  justify-content: center;
}

nav li {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: rgba(var(--primary-color-contrast));
  transition: 1s;
  height: 60px;
  width: 100%;
}

nav li:hover{
  background-color: rgba(var(--primary-color-contrast));
  color: rgba(var(--primary-color));
  transition: 1s;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0% 0.5%;
}

.socials a{
  margin: 10px;
  padding: 10px;
  font-size: 25px;
}

.dark-mode-toggle   {
  display: flex;
  margin: auto;
  transition: 1s;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.dark-mode-toggle:hover{
  scale: 1.1;
  transition: 1s;
  cursor: pointer;
}

#weather{
  display: none;
}


#body{
  margin:  5% 10%;
  padding: 3%;
  border-radius: 3%;
  background-color: rgba(var(--black), 0.7);
  color: rgba(var(--primary-color-contrast))
}

footer{
  padding: 20px;
  background-color: rgba(var(--primary-color));
  color: rgba(var(--primary-color-contrast));
  text-align: center;
}

footer a{
  color: rgba(var(--primary-color-contrast));
  text-decoration: none;
  transition: 1s;
}

#resume{
  display: flex;
  justify-content: center;
  padding: 0% 3% 3%;
  margin: 3%;
  height: 1100px;
}

#resumeAbout h2{
  text-align: center;
  padding: 20px 0px 0px;
}

#about h2{
  padding: 20px 0px 0px;
}

#about h1{
  text-align: center;
  text-decoration: underline;
  padding: 20px 0px 0px;
  font-size:xx-large;
}
#resumePDF{
  height: 100%;
  width: 100%;

}

#body a{
  color: rgb(0, 153, 255);
  text-decoration: none;
}

#footerSecond{
  display: block;
}

#footerFirst{
  display: none;
}
#toggle1 {
  display: none;
}
#toggle2 button{
  background-color: transparent;
  border: 2px solid var(--primary-color-contrast);
  color: var(--primary-color-contrast);
  margin: 10px;
  transition: 1s;
  height:1%;
}

#spotify{
  justify-content: center;
  display: flex;
}

#instagram-embed-0{
  border-radius: 15px !important;
  }

  #IGCFMarketing{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.gg-dark-mode{
  height: 100% !important;
  width: auto !important;
}

.gg-dark-mode::before{
  height: 100% !important;
  width: auto !important;
}

.gg-dark-mode::after{
  height: 100% !important;
  width: auto !important;
} */