:root {
    --mouse-x: 0;
    --mouse-y: 0;
    --primary-color: #000;
    --primary-color-contrast: #fff;
    --primary-color-off: #222;
    --primary-color-off-contrast: #bbb;
    --primary-color-1: #fff;
    --primary-color-2: #ccc;
    --primary-color-3: #000;
    --link-color: 0, 50, 150;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0% 0.5%;
}

.socials a{
    margin: 10px;
    padding: 10px;
    font-size: 25px;
}

.dark-mode-toggle   {
    display: flex;
    margin: auto;
    transition: 1s;
    justify-content: center;
    height: 5%;
    align-items: center;
    
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    background: transparent radial-gradient(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), var(--primary-color-1), var(--primary-color-2)) no-repeat 0 0;
    height: auto;
    min-height: 100vh;
    margin :0;
    padding :0;
    transition: 1s;
}

header{
    display: flex;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    width: 100%;
    align-items: center;
}


header a{
    color: var(--primary-color-off-contrast);
    text-decoration: none;
    transition: 1s;
}

header a:hover{
    color: var(--primary-color-contrast);
    transition: 1s;
}

nav {
    display:flex;
    max-width: 960px;
    margin: 0;
    width: 50%;
    height: auto;
    justify-content: center;;
}

h1 {
    margin: 20px 3% 20px 5%;
    text-align : center;
    color: var(--primary-color-contrast);
    align-content: center;
}

nav ul {
    display:flex;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    transition: 1s;
}

nav ul:hover{
    scale: 1.1;
    transition: 1s;
}

nav li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: var(--primary-color-off-contrast);
    transition: 1s;
    height: 100%;
}

nav li:hover{
    margin-left: 1rem;
    margin-right: 1rem;
    scale : 1.3;
    transition: 1s;
}

#about {
    padding: 4rem 0;
    margin:0em 10% 5% 10%;
}

#about h1{
    text-align: center;
    text-decoration: underline;
    padding: 20px 0px 0px;
    margin: auto;
    font-size:xx-large;
    color: rgba(var(--primary-color-contrast));
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

#header.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
#switch.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

#club.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: var(--primary-color-contrast);
    border: 2px solid var(--primary-color);
    border-radius: 20%;
    transition: 1s;
    height:1%;
}

button:hover{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color-contrast);
}

#club_svg{
    stroke: var(--primary-color-3);
    fill: var(--primary-color-3);
    padding: 5px;
}

footer{
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    text-align: center;
    width: 100%;
}

footer a{
    color: rgba(var(--primary-color-contrast));
    text-decoration: none;
    transition: 1s;
  }

#body{
    color: var(--primary-color-3);
    transition: 1s;
}

#resume{
    display: flex;
    justify-content: center;
    height: 1100px;
}
#resumePDF{
    height: 100%;
    width: 100%;
}


#resumeAbout h2{
    text-align: center;
    padding: 20px 0px 0px;
  }

#body a{
    color: rgb(var(--link-color));
    text-decoration: none;
  }


#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}


#weather{
    background-color: var(--primary-color);
    overflow: hidden;
}
#weather header{
    color: var(--primary-color-off-contrast);
    white-space: nowrap;
    -moz-animation: my-animation 30s linear infinite;
    -webkit-animation: my-animation 30s linear infinite;
    animation: my-animation 30s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
from { -moz-transform: translateX(100%); }
to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
from { -webkit-transform: translateX(100%); }
to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
}

.pfp {
    width: 30%;
    height: auto;
    border-radius: 5%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footerFirst{
    display: block;
}

#footerSecond{
    display: none;
}


#toggle2{
    display: none;
}
#toggle1 button{
    background-color: transparent;
    border: 2px solid var(--primary-color-contrast);
    color: var(--primary-color-contrast);
    margin: 10px;
    width: 70px;
    height: 100px;
    transition: 1s;
    height:1%;
}

#spotify{
justify-content: center;
display: flex;
}

#IGCFMarketing{
    display: flex;
    justify-content: center;
    align-items: center;
}

#instagram-embed-0{
border-radius: 15px !important;
}

